[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/conditional-tokens-contracts"]
	path = contracts/lib/conditional-tokens-contracts
	url = https://github.com/gnosis/conditional-tokens-contracts
[submodule "contracts/lib/protocol"]
	path = contracts/lib/protocol
	url = https://github.com/UMAprotocol/protocol
